.add-option-error {
    padding: $msize;
    font-style: italic;
    margin: $msize 0 0 0;
    color: $offwhite;
}

.add-option {
    display: flex;
    flex-direction: column; 
    padding: $msize
}   

.add-option__input {
    flex-grow: 1;
    background: $darkblue;
    border: none;
    border-bottom: 0.3rem solid darken($darkblue, 10%);
    // margin-right: $ssize;
    margin: 0 0 $ssize 0;
    color: $offwhite;
    padding: $ssize;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $ssize 0 0;
    }
}