.header {
    background: $offblack;
    color: white;
    margin-bottom: $xlsize;
    padding: $msize 0;
}

//BEM naming convention - block element modifier. Block refers to core building block (Header)
.header__title {
    font-size: $lsize;
    margin: 0;
}

.header__subtitle { 
    color: $offwhite;
    font-size: $msize;
    font-weight: 500;
    margin: 0;
}